@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .container {
        @apply mx-auto max-w-xl shadow-xl rounded-md;
    }
    .input {
        @apply border placeholder:text-neutral-300 outline-none p-2 w-full rounded-md text-neutral-700 font-semibold mb-2;
    }
    .textarea {
        @apply border outline-none p-2 w-full h-28 rounded-md text-neutral-700;
    }
    .select {
        @apply w-full border p-2 rounded-md outline-none text-neutral-700 font-semibold;
    }
    .image-container {
        @apply w-72 mx-auto overflow-hidden h-72 border-8 my-5 text-center text-neutral-400 cursor-pointer rounded-md;
    }
    .btn {
        @apply w-full p-3 bg-blue-600 active:bg-blue-800 outline-none rounded-md text-white font-semibold my-5;
    }
    .card {
        @max-w-sm rounded overflow-hidden shadow-lg bg-gray-800 text-white;
    }
}
.layout {
    display: grid;
    grid-template-areas: "header header header" "sidebar body body" "sidebar body body";
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: fit-content(100%) 1fr;
}
.sidebar{
      grid-area: sidebar;
  transition: all 300ms ease-in;
}
.header{
    grid-area: header;
    width: 100%;
}
.body{
    grid-area: body;
    width: 100%;
}

/* ====== --- Styles for Order Loader --- ============= */


@keyframes ldio-i8o6i3n8mdo {
    0%    { transform: translate(2px,2px) }
   33.33% { transform: translate(102px,2px) }
   66.66% { transform: translate(42px,102px) }
  100%    { transform: translate(2px,2px) }
}


.ldio-i8o6i3n8mdo > div {
  transform: scale(0.8);
  transform-origin: 100px 100px;
}

.ldio-i8o6i3n8mdo > div > div {
  animation: ldio-i8o6i3n8mdo 1s linear infinite;
  position: absolute
}

.ldio-i8o6i3n8mdo > div > div div:nth-child(1) {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  border: 12px solid #89a67e;
  background: #ededed
}

.ldio-i8o6i3n8mdo > div > div div:nth-child(2) {
  width: 17px;
  height:  51px;
  transform: rotate(-45deg);
  background: #89a67e;
  border-radius: 0 0 8px 8px;
  position: absolute;
  top: 68px;
  left: 85px
}
.loadingio-spinner-magnify-gosd16rm1tl {
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: #ffffff;
}
.ldio-i8o6i3n8mdo {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-i8o6i3n8mdo div { box-sizing: content-box; }
